body, p {
    margin: 0;
    background-color: gray;
}

body{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculadora{
    box-sizing: border-box;
    width: 320px;
    height: 400px;
    background-color: grey;
    border: 1px solid black;
    padding: 25px;
    border-radius: 25px;
}

.visor{
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    border-radius: 15px;
}

#Memoria, #Resultado {
    height: 23px;
    padding: 5px;
    font-size: 20px;
    text-align: right;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.teclado{
    margin: 10px -15px;
}

.teclado .space, .teclado p{
    margin: 5px;
    padding: 15px 0;
    width: 59px;
    text-align: center;
    font-size: 25px;
}

.teclado p{
    background-color: lightgray;
    border-radius: 15px;
}